.scale-ul {
    margin-top: 15px;
}


.scale-back-btn {
    color : #fff;
    cursor: pointer;
    border: 2px solid #e1322a;
    background-color: #e1322a;
    padding : 10px 15px;
    transition: all 0.2s linear;
    border-radius: 15px;
}

.scale-back-btn:hover {
    border :2px solid #88312c;
}