.cart-offer {
    font-weight: 900;
    max-width: 700px;
    margin: 40px auto 0 auto;
    padding-bottom: 30px;
    

    
    .offer-header{
        text-transform: uppercase;
    }
    
    

    .offer__container {
        
        display: flex;
        margin-top: 40px;
        margin-bottom: 50px;
        

        h2 {
            font-size: 1.2rem;
            margin-right: 80px;
        }


        .form-container {
            width: 100%;
        }

    }


    .form-input {

        margin-bottom: 15px;

        label {
            margin-left: 5px;
            display: block;
        }

        input {
            
            width: 100%;
            margin-top: 6px;
            outline: none;
            color : #fff;
            background: transparent;
            border-radius: 16px;
            font-size: 1rem;
            padding : 10px;
            border: 2px solid #e8e8e8;
        }

        input:focus {
            border: 2px solid red !important;
        }
    }


    

    

    .submit-offer-btn {
        display: block;
        cursor: pointer;
        float: right;
        border-radius: 5px;
        padding : 15px;
        font-weight: 900;
        background-color: #e1322a;
        border: 1px solid #e1322a;
        color : #fff;
    }


   
}